---
---

@import "{{ site.theme ?}}";
.main-content h6 {
  margin-top: 1rem;
  margin-bottom: -1rem;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: normal;
  color: black
  }
@media screen and (min-width: 64em) {
  .main-content h6 {
    font-size:1.1rem
    }
  }
@media screen and (min-width: 42em) and (max-width: 64em) {
  .main-content h6 {
    font-size:1.1rem
    }
  }
@media screen and (max-width: 42em) {
  .main-content h6 {
    font-size:1rem
    }
  }
